In [1]:
# Internship TCS iON Side effects of a drug -ICTAK NORKA DSA Batch2 - Bindhu K George

In [2]:
#Project Objective - To build a classification model that classifies the side effects of a particular drug by age, gender and race

In [3]:
# Importing Libraries

In [312]:
from faker import Faker
import numpy as np
import pandas as pd
from random import choice, sample
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [313]:
# Creating Dataset using Faker - Dataset with columns Name, Age, Gender, Race and side effects of 400,000 patients

In [314]:
#data1 = Faker()

In [315]:
#Creating Name details

In [316]:
#def create_names(n):
    #name = []
    #for _ in range(0, n):
        #name.append(data1.name())
    #return name

In [317]:
#name = create_names(400000)

In [318]:
# Creating Patient Id

In [319]:
#patient_id = np.random.randint(1, 400000, size = 400000, dtype = 'int')

In [320]:
#data2 = pd.DataFrame(list(zip(patient_id,name,)),
                   #columns = [ 'patient_id','name'])

In [321]:
#data2

In [322]:
# Creating Age, Gender,Race and Side Effects with Numpy

In [323]:
#import numpy as np

#def weighted_cartesian_choice(*iterables):
    
   # An arbitrary number of tuple or lists,each consisting of population and weights.weighted_cartesian_choice returns a list 
    #with a chocie from each population
    
    #res = []
    #for population, weights in iterables:
        # normalize weight:
        #weights = np.array(weights) / sum(weights)
        #lst = np.random.choice(population, p=weights)
        #res.append(lst)
    #return res

#gender = (['male','female'], 
          #[0.3, 0.7])

#age = (['0-10','10-20','20-30','30-40','40-50','50-60','60-70','70-80','80-90','90-100'], 
        #[.08,.05,.07,.18,.05,.16,.06,.19,.07,.09])
#race = (['White','Hispanic', 'Black','Asian'], 
        #[.32,.28,.22,.18])
#side_effects = (['No Side Effects', 'Mild Side Effects', 'Moderate Side Effects', 'Severe Side Effects', 'Extremely Severe Side Effects'], 
                #[.12,.20,.28,.22,.18])

#list=[]
#for i in range(400000):
    #res = weighted_cartesian_choice(gender,
                                    #age,
                                    #race,
                                    #side_effects)
    #list.append(res)

In [324]:
#newdata=pd.DataFrame(list, columns = ['gender','age','race','side_effects'])

In [325]:
#newdata.head(400000)

In [326]:
#data = pd.concat([data2, newdata], axis=1).reindex(newdata.index)

In [327]:
#data

In [328]:
#sample_dataset = data.to_csv("dataset.csv",index=False)

In [329]:
# dataset is created each time faker is run so commented

In [330]:
import warnings
warnings.filterwarnings('ignore')

In [331]:
# Reading Dataset

In [332]:
data = pd.read_csv('dataset.csv')

In [333]:
# Features

In [334]:
data.head()

,patient_id,name,gender,age,race,side_effects
0,145440,Monica Hunter,female,0-10,Hispanic,Moderate Side Effects
1,151914,Patrick Smith,male,70-80,White,Severe Side Effects
2,274937,Jason Gutierrez,female,80-90,Black,Extremely Severe Side Effects
3,167024,Donald Peters,female,80-90,White,Mild Side Effects
4,105621,Laura Baker,female,40-50,White,Extremely Severe Side Effects

In [335]:
data.shape

(400000, 6)

In [336]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400000 entries, 0 to 399999
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   patient_id    400000 non-null  int64
 1   name          400000 non-null  object
 2   gender        400000 non-null  object
 3   age           400000 non-null  object
 4   race          400000 non-null  object
 5   side_effects  400000 non-null  object
dtypes: int64(1), object(5)
memory usage: 18.3+ MB

In [337]:
data['age'].value_counts()

70-80     76149
30-40     72047
50-60     64469
90-100    35981
0-10      31738
20-30     27893
80-90     27860
60-70     23868
10-20     20011
40-50     19984
Name: age, dtype: int64

In [338]:
data['gender'].value_counts()

female    280127
male      119873
Name: gender, dtype: int64

In [339]:
data['race'].value_counts()

White       128188
Hispanic    111776
Black        87917
Asian        72119
Name: race, dtype: int64

In [340]:
data['side_effects'].value_counts()

Moderate Side Effects            112052
Severe Side Effects               88079
Mild Side Effects                 79910
Extremely Severe Side Effects     72077
No Side Effects                   47882
Name: side_effects, dtype: int64

In [341]:
# Preprocessing

In [342]:
data.isna().sum()

patient_id      0
name            0
gender          0
age             0
race            0
side_effects    0
dtype: int64

In [343]:
# There are no null values

In [344]:
data.dtypes

patient_id       int64
name            object
gender          object
age             object
race            object
side_effects    object
dtype: object

In [345]:
def print_unique_col_values(data):
    for column in data:
        if data[column].dtypes=='object':
            print (f'{column} : {data[column].unique()}')

In [346]:
print_unique_col_values(data)

name : ['Monica Hunter' 'Patrick Smith' 'Jason Gutierrez' ... 'Evan Robertson'
 'Craig Grimes' 'Teresa Lawrence']
gender : ['female' 'male']
age : ['0-10' '70-80' '80-90' '40-50' '50-60' '20-30' '90-100' '60-70' '10-20'
 '30-40']
race : ['Hispanic' 'White' 'Black' 'Asian']
side_effects : ['Moderate Side Effects' 'Severe Side Effects'
 'Extremely Severe Side Effects' 'Mild Side Effects' 'No Side Effects']

In [347]:
# There are no unique values to be repalced, all except patient_id are categorical

In [348]:
# The correlation between created features is low, so mapping is done for improving accuracy for age, gender,race and side effects

In [349]:
data.loc[data['age'] == '0-10', 'age_score'] = '6'  
data.loc[data['age'] == '10-20', 'age_score'] = '2' 
data.loc[data['age'] == '20-30', 'age_score'] = '5'  
data.loc[data['age'] == '30-40', 'age_score'] = '9'  
data.loc[data['age'] == '40-50', 'age_score'] = '1' 
data.loc[data['age'] == '50-60', 'age_score'] = '8'  
data.loc[data['age'] == '60-70', 'age_score'] = '3'  
data.loc[data['age'] == '70-80', 'age_score'] = '10' 
data.loc[data['age'] == '80-90', 'age_score'] = '4'  
data.loc[data['age'] == '90-100', 'age_score'] = '7'

In [350]:
data.loc[data['side_effects'] == 'Moderate Side Effects', 'sideeffects_score'] = '5'  
data.loc[data['side_effects'] == 'Severe Side Effects', 'sideeffects_score'] = '4' 
data.loc[data['side_effects'] == 'Mild Side Effects', 'sideeffects_score'] = '3'  
data.loc[data['side_effects'] == 'Extremely Severe Side Effects', 'sideeffects_score'] = '2'  
data.loc[data['side_effects'] == 'No Side Effects', 'sideeffects_score'] = '1'

In [351]:
data.loc[data['race'] == 'White', 'race_score'] = '4'  
data.loc[data['race'] == 'Hispanic', 'race_score'] = '3' 
data.loc[data['race'] == 'Black', 'race_score'] = '2'  
data.loc[data['race'] == 'Asian', 'race_score'] = '1'

In [352]:
data.loc[data['gender'] == 'male', 'gender_score'] = '4'  
data.loc[data['gender'] == 'female', 'gender_score'] = '6'

In [353]:
data = data.astype({'age_score': 'int','sideeffects_score' : 'int','race_score': 'int','gender_score': 'int'})

In [354]:
data.dtypes

patient_id            int64
name                 object
gender               object
age                  object
race                 object
side_effects         object
age_score             int32
sideeffects_score     int32
race_score            int32
gender_score          int32
dtype: object

In [355]:
data['score']=data['age_score']+data['sideeffects_score']+data['race_score']+data['gender_score']

In [356]:
data['rated_score']=data['score']/2

In [357]:
data

,patient_id,name,gender,age,race,side_effects,age_score,sideeffects_score,race_score,gender_score,score,rated_score
0,145440,Monica Hunter,female,0-10,Hispanic,Moderate Side Effects,6,5,3,6,20,10.0
1,151914,Patrick Smith,male,70-80,White,Severe Side Effects,10,4,4,4,22,11.0
2,274937,Jason Gutierrez,female,80-90,Black,Extremely Severe Side Effects,4,2,2,6,14,7.0
3,167024,Donald Peters,female,80-90,White,Mild Side Effects,4,3,4,6,17,8.5
4,105621,Laura Baker,female,40-50,White,Extremely Severe Side Effects,1,2,4,6,13,6.5
...,...,...,...,...,...,...,...,...,...,...,...,...
399995,72625,Frank Harris,female,30-40,Black,No Side Effects,9,1,2,6,18,9.0
399996,308257,Craig Grimes,female,50-60,Hispanic,Moderate Side Effects,8,5,3,6,22,11.0
399997,55716,Kenneth Guzman,female,0-10,Hispanic,No Side Effects,6,1,3,6,16,8.0
399998,91801,Linda Price,female,90-100,Asian,Extremely Severe Side Effects,7,2,1,6,16,8.0
399999,246518,Teresa Lawrence,female,60-70,Asian,Moderate Side Effects,3,5,1,6,15,7.5

In [358]:
data.dtypes

patient_id             int64
name                  object
gender                object
age                   object
race                  object
side_effects          object
age_score              int32
sideeffects_score      int32
race_score             int32
gender_score           int32
score                  int32
rated_score          float64
dtype: object

In [359]:
# Encoding - Feature Encoding

In [360]:
fe=data.groupby('race').size()/len(data)
data.loc[:, 'race_fe']=data['race'].map(fe)

In [361]:
fe=data.groupby('gender').size()/len(data)
data.loc[:, 'gender_fe']=data['gender'].map(fe)

In [362]:
fe=data.groupby('age').size()/len(data)
data.loc[:, 'age_fe']=data['age'].map(fe)

In [363]:
data=data.drop(['patient_id','race','gender','age'],axis=1)
data

,name,side_effects,age_score,sideeffects_score,race_score,gender_score,score,rated_score,race_fe,gender_fe,age_fe
0,Monica Hunter,Moderate Side Effects,6,5,3,6,20,10.0,0.279440,0.700318,0.079345
1,Patrick Smith,Severe Side Effects,10,4,4,4,22,11.0,0.320470,0.299683,0.190373
2,Jason Gutierrez,Extremely Severe Side Effects,4,2,2,6,14,7.0,0.219793,0.700318,0.069650
3,Donald Peters,Mild Side Effects,4,3,4,6,17,8.5,0.320470,0.700318,0.069650
4,Laura Baker,Extremely Severe Side Effects,1,2,4,6,13,6.5,0.320470,0.700318,0.049960
...,...,...,...,...,...,...,...,...,...,...,...
399995,Frank Harris,No Side Effects,9,1,2,6,18,9.0,0.219793,0.700318,0.180118
399996,Craig Grimes,Moderate Side Effects,8,5,3,6,22,11.0,0.279440,0.700318,0.161172
399997,Kenneth Guzman,No Side Effects,6,1,3,6,16,8.0,0.279440,0.700318,0.079345
399998,Linda Price,Extremely Severe Side Effects,7,2,1,6,16,8.0,0.180297,0.700318,0.089953
399999,Teresa Lawrence,Moderate Side Effects,3,5,1,6,15,7.5,0.180297,0.700318,0.059670

In [364]:
data.columns

Index(['name', 'side_effects', 'age_score', 'sideeffects_score', 'race_score',
       'gender_score', 'score', 'rated_score', 'race_fe', 'gender_fe',
       'age_fe'],
      dtype='object')

In [365]:
data.shape

(400000, 11)

In [366]:
data=data.drop(['name','age_score', 'sideeffects_score','race_score','gender_score', 'score'],axis=1)
data

,side_effects,rated_score,race_fe,gender_fe,age_fe
0,Moderate Side Effects,10.0,0.279440,0.700318,0.079345
1,Severe Side Effects,11.0,0.320470,0.299683,0.190373
2,Extremely Severe Side Effects,7.0,0.219793,0.700318,0.069650
3,Mild Side Effects,8.5,0.320470,0.700318,0.069650
4,Extremely Severe Side Effects,6.5,0.320470,0.700318,0.049960
...,...,...,...,...,...
399995,No Side Effects,9.0,0.219793,0.700318,0.180118
399996,Moderate Side Effects,11.0,0.279440,0.700318,0.161172
399997,No Side Effects,8.0,0.279440,0.700318,0.079345
399998,Extremely Severe Side Effects,8.0,0.180297,0.700318,0.089953
399999,Moderate Side Effects,7.5,0.180297,0.700318,0.059670

In [367]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400000 entries, 0 to 399999
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   side_effects  400000 non-null  object
 1   rated_score   400000 non-null  float64
 2   race_fe       400000 non-null  float64
 3   gender_fe     400000 non-null  float64
 4   age_fe        400000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 15.3+ MB

In [368]:
data.describe()

         rated_score        race_fe      gender_fe         age_fe
count  400000.000000  400000.000000  400000.000000  400000.000000
mean        9.188880       0.261604       0.580254       0.127321
std         1.692585       0.052683       0.183539       0.055549
min         3.500000       0.180297       0.299683       0.049960
25%         8.000000       0.219793       0.299683       0.069733
50%         9.500000       0.279440       0.700318       0.161172
75%        10.500000       0.320470       0.700318       0.180118
max        12.500000       0.320470       0.700318       0.190373

In [369]:
corrmatrix.iloc[0]

side_effects    1.000000
rated_score     0.120614
race_fe        -0.001825
gender_fe       0.000298
age_fe          0.001513
Name: side_effects, dtype: float64

In [370]:
# Target and Features

In [371]:
x=data.drop('side_effects',axis=1)
y=data['side_effects'] 
x.head()

   rated_score   race_fe  gender_fe    age_fe
0         10.0  0.279440   0.700318  0.079345
1         11.0  0.320470   0.299683  0.190373
2          7.0  0.219793   0.700318  0.069650
3          8.5  0.320470   0.700318  0.069650
4          6.5  0.320470   0.700318  0.049960

In [373]:
#Splitting the dataset
#training the dataset

In [374]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.35, random_state=42)

In [375]:
x.shape

(400000, 4)

In [376]:
x_train.shape

(260000, 4)

In [377]:
x_test.shape

(140000, 4)

In [378]:
y_train.shape

(260000,)

In [379]:
y_test.shape

(140000,)

In [380]:
# Building Classification Models

In [381]:
#Logistic Regression

In [382]:
from sklearn.metrics import confusion_matrix, accuracy_score,precision_score,recall_score,f1_score

In [383]:
from sklearn.linear_model import LogisticRegression
logit_model = LogisticRegression()
logit_model.fit(x_train, y_train)
y_predlr = logit_model.predict(x_test)

In [384]:
print(accuracy_score(y_test,y_predlr))

0.5897142857142857

In [385]:
print(y_predlr)

['Moderate Side Effects' 'Severe Side Effects' 'Moderate Side Effects' ...
 'Moderate Side Effects' 'Extremely Severe Side Effects'
 'Severe Side Effects']

In [386]:
df = pd.read_csv('dataset.csv')

In [387]:
df = df.sample(n=140000)

In [388]:
df

,patient_id,name,gender,age,race,side_effects
286334,207541,Todd Evans MD,female,20-30,Hispanic,Moderate Side Effects
391158,201747,Michael Long,male,50-60,Black,Extremely Severe Side Effects
165481,243154,Mark Bowen,female,70-80,White,Extremely Severe Side Effects
353501,123406,Hector Morris,female,70-80,Asian,Mild Side Effects
330491,8170,Mark George,female,30-40,Black,Severe Side Effects
...,...,...,...,...,...,...
393410,35095,Jeffrey Joseph,female,60-70,Black,Mild Side Effects
57292,350218,Kristen Ryan,male,70-80,White,Extremely Severe Side Effects
348039,93940,Mario Barnes,female,90-100,White,No Side Effects
397105,338485,Jennifer Graves,male,50-60,White,Severe Side Effects
114986,12203,Timothy Goodman,female,20-30,White,Severe Side Effects

In [389]:
df=df.drop(['name','age','race','gender'],axis=1)

In [390]:
df

        patient_id                   side_effects
286334      207541          Moderate Side Effects
391158      201747  Extremely Severe Side Effects
165481      243154  Extremely Severe Side Effects
353501      123406              Mild Side Effects
330491        8170            Severe Side Effects
...            ...                            ...
393410       35095              Mild Side Effects
57292       350218  Extremely Severe Side Effects
348039       93940                No Side Effects
397105      338485            Severe Side Effects
114986       12203            Severe Side Effects

[140000 rows x 2 columns]

In [392]:
df.to_csv('side_effects1.csv')

In [393]:
sample = pd.read_csv('side_effects1.csv')

In [394]:
sample['side_effects'] = y_predlr

In [395]:
sample.columns

Index(['Unnamed: 0', 'patient_id', 'side_effects'], dtype='object')

In [396]:
sample=sample.drop(['Unnamed: 0'],axis=1)

In [398]:
sample.head(50)

    patient_id                   side_effects
0       207541          Moderate Side Effects
1       201747            Severe Side Effects
2       243154          Moderate Side Effects
3       123406            Severe Side Effects
4         8170  Extremely Severe Side Effects
5        74782  Extremely Severe Side Effects
6       237369            Severe Side Effects
7        76338          Moderate Side Effects
8       205675          Moderate Side Effects
9       206838          Moderate Side Effects
10      167426          Moderate Side Effects
11      187054          Moderate Side Effects
12          44  Extremely Severe Side Effects
13      129874          Moderate Side Effects
14      359232  Extremely Severe Side Effects
15       24425          Moderate Side Effects
16      240392          Moderate Side Effects
17      211128          Moderate Side Effects
18      338751  Extremely Severe Side Effects
19       91133  Extremely Severe Side Effects
20      170137          Moderate Side Effects
21      260070  Extremely Severe Side Effects
22       54372  Extremely Severe Side Effects
23      342940          Moderate Side Effects
24      109961          Moderate Side Effects
25      270195  Extremely Severe Side Effects
26      305943            Severe Side Effects
27      210391            Severe Side Effects
28      300037          Moderate Side Effects
29      126654  Extremely Severe Side Effects
30      248816          Moderate Side Effects
31       21508          Moderate Side Effects
32      394862          Moderate Side Effects
33      335249          Moderate Side Effects
34      232623            Severe Side Effects
35      187609          Moderate Side Effects
36      169224            Severe Side Effects
37      366817          Moderate Side Effects
38      366919          Moderate Side Effects
39       42448            Severe Side Effects
40      242228            Severe Side Effects
41      340748          Moderate Side Effects
42      278662            Severe Side Effects
43      159081                No Side Effects
44      337130            Severe Side Effects
45      237009          Moderate Side Effects
46      181896            Severe Side Effects
47       67720          Moderate Side Effects
48         209                No Side Effects
49      136158          Moderate Side Effects

In [414]:
from sklearn.metrics import accuracy_score

In [415]:
sample = [[0.2,0.1,0.1,0.1]]
print(logit_model.predict(sample))

['No Side Effects']

In [416]:
#  Random forest with Hyperparameter tuning

In [417]:
from sklearn.ensemble import RandomForestClassifier
rfh = RandomForestClassifier(max_depth=7, max_features=4, min_samples_leaf=2,
                      min_samples_split=5, n_estimators=1500, n_jobs=1,
                      random_state=42)
rfh.fit(x_train, y_train)

RandomForestClassifier(max_depth=7, max_features=4, min_samples_leaf=2,
                       min_samples_split=5, n_estimators=1500, n_jobs=1,
                       random_state=42)

In [418]:
y_predrfh=rfh.predict(x_test)

In [419]:
y_predrfh

array(['Extremely Severe Side Effects', 'Moderate Side Effects',
       'Moderate Side Effects', ..., 'Extremely Severe Side Effects',
       'Extremely Severe Side Effects', 'Mild Side Effects'], dtype=object)

In [420]:
accuracy_score(y_test,y_predrfh)

0.6446214285714286

In [421]:
sample1 = pd.read_csv('side_effects1.csv')

In [422]:
sample1['side_effects'] = y_predrfh

In [423]:
sample1.columns

Index(['Unnamed: 0', 'patient_id', 'side_effects'], dtype='object')

In [424]:
sample1=sample1.drop(['Unnamed: 0'],axis=1)

In [425]:
sample1.head(50)

    patient_id                   side_effects
0       207541  Extremely Severe Side Effects
1       201747          Moderate Side Effects
2       243154          Moderate Side Effects
3       123406  Extremely Severe Side Effects
4         8170  Extremely Severe Side Effects
5        74782              Mild Side Effects
6       237369  Extremely Severe Side Effects
7        76338          Moderate Side Effects
8       205675  Extremely Severe Side Effects
9       206838            Severe Side Effects
10      167426              Mild Side Effects
11      187054          Moderate Side Effects
12          44                No Side Effects
13      129874          Moderate Side Effects
14      359232                No Side Effects
15       24425            Severe Side Effects
16      240392              Mild Side Effects
17      211128          Moderate Side Effects
18      338751              Mild Side Effects
19       91133                No Side Effects
20      170137  Extremely Severe Side Effects
21      260070                No Side Effects
22       54372                No Side Effects
23      342940          Moderate Side Effects
24      109961            Severe Side Effects
25      270195  Extremely Severe Side Effects
26      305943          Moderate Side Effects
27      210391            Severe Side Effects
28      300037          Moderate Side Effects
29      126654              Mild Side Effects
30      248816          Moderate Side Effects
31       21508          Moderate Side Effects
32      394862          Moderate Side Effects
33      335249          Moderate Side Effects
34      232623            Severe Side Effects
35      187609          Moderate Side Effects
36      169224          Moderate Side Effects
37      366817            Severe Side Effects
38      366919          Moderate Side Effects
39       42448              Mild Side Effects
40      242228            Severe Side Effects
41      340748  Extremely Severe Side Effects
42      278662  Extremely Severe Side Effects
43      159081          Moderate Side Effects
44      337130            Severe Side Effects
45      237009              Mild Side Effects
46      181896              Mild Side Effects
47       67720          Moderate Side Effects
48         209  Extremely Severe Side Effects
49      136158          Moderate Side Effects

In [ ]:
sample1 = [[0.2,0.1,0.1,0.1]]
print(rfh.predict(sample1))

In [ ]:
# Support Vecor (SVC) Classification Model

In [432]:
from sklearn.svm import SVC
svm_linear=SVC(kernel='linear')
svm_linear.fit(x_train,y_train)
y_predsvm=svm_linear.predict(x_test)

In [433]:
print('accuracy is:', accuracy_score(y_test,y_predsvm))

accuracy is: 0.7330428571428571

In [434]:
y_predsvm

array(['Moderate Side Effects', 'Severe Side Effects',
       'Moderate Side Effects', ..., 'Moderate Side Effects',
       'Extremely Severe Side Effects', 'Severe Side Effects'],
      dtype=object)

In [436]:
sample2 = pd.read_csv('side_effects1.csv')

In [437]:
sample2['side_effects'] = y_predsvm

In [438]:
sample2.columns

Index(['Unnamed: 0', 'patient_id', 'side_effects'], dtype='object')

In [439]:
sample2=sample2.drop(['Unnamed: 0'],axis=1)

In [440]:
sample2.head(50)

    patient_id                   side_effects
0       207541          Moderate Side Effects
1       201747            Severe Side Effects
2       243154          Moderate Side Effects
3       123406            Severe Side Effects
4         8170                No Side Effects
5        74782                No Side Effects
6       237369            Severe Side Effects
7        76338          Moderate Side Effects
8       205675          Moderate Side Effects
9       206838          Moderate Side Effects
10      167426          Moderate Side Effects
11      187054          Moderate Side Effects
12          44                No Side Effects
13      129874          Moderate Side Effects
14      359232                No Side Effects
15       24425          Moderate Side Effects
16      240392          Moderate Side Effects
17      211128          Moderate Side Effects
18      338751                No Side Effects
19       91133                No Side Effects
20      170137          Moderate Side Effects
21      260070  Extremely Severe Side Effects
22       54372              Mild Side Effects
23      342940          Moderate Side Effects
24      109961            Severe Side Effects
25      270195                No Side Effects
26      305943            Severe Side Effects
27      210391            Severe Side Effects
28      300037          Moderate Side Effects
29      126654  Extremely Severe Side Effects
30      248816          Moderate Side Effects
31       21508          Moderate Side Effects
32      394862          Moderate Side Effects
33      335249          Moderate Side Effects
34      232623            Severe Side Effects
35      187609          Moderate Side Effects
36      169224          Moderate Side Effects
37      366817          Moderate Side Effects
38      366919          Moderate Side Effects
39       42448              Mild Side Effects
40      242228            Severe Side Effects
41      340748          Moderate Side Effects
42      278662            Severe Side Effects
43      159081  Extremely Severe Side Effects
44      337130            Severe Side Effects
45      237009          Moderate Side Effects
46      181896              Mild Side Effects
47       67720          Moderate Side Effects
48         209                No Side Effects
49      136158          Moderate Side Effects

In [441]:
sample2 = [[0.2,0.1,0.1,0.1]]
print(svm_linear.predict(sample2))

['No Side Effects']